.about{
    background-color: #111;
}
.container{
padding: 3rem 0;
display: flex;
flex-direction: column;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.download{
    margin: auto;
    margin-top: 47px;
}
.download a{

    border-radius: 2rem;
    border: none;
    padding: 0.5rem;
    color: white;
    text-decoration: none;
    background-color:#166939;

}
.download :hover{
    background-color: #25ff80;
    cursor: pointer;
    color: black;
}

h2{
    margin-bottom: 2rem;
}